  <template> 
  <Headerdetail/>
  <div class="page-content-wrapper py-3">
      <div class="container">
        <div class="card image-gallery-card direction-rtl">
          <div class="card-body"><img width="300" class="mb-3 rounded" src="/assets/img/bg-img/13.jpg" alt="">
            <h5>{{list.firstname}} {{list.lastname}}</h5>
            <p>{{list.email}}</p><a class="btn btn-primary mb-4" href="#">Booking Tempat</a>
          </div>
        </div>
      </div>
      <!-- Pagination-->
      <div class="shop-pagination pb-3 mt-2">
        <div class="container">
          <div class="card">
            <div class="card-body p-2">
              <div class="d-flex align-items-center justify-content-between"><small class="ms-1">Showing 6 of 31</small>
                <form action="#">
                  <select class="pe-4 form-select form-select-sm" id="defaultSelectSm" name="defaultSelectSm" aria-label="Default select example">
                    <option value="1" selected="">Sort by Newest</option>
                    <option value="2">Sort by Older</option>
                    <option value="3">Sort by Ratings</option>
                    <option value="4">Sort by Sales</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Products-->
      <div class="top-products-area">
        <div class="container">
          <div class="row g-3">
            <!-- Single Top Product Card-->
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="card single-product-card">
                <div class="card-body p-3">
                  <!-- Product Thumbnail--><a class="product-thumbnail d-block" href="#"><img width="200" src="/assets/img/bg-img/p1.jpg" alt="">
                    <!-- Badge--></a>
                  <!-- Product Title--><a class="product-title d-block text-truncate" href="page-shop-details.html">name produk</a>
                  <!-- Product Price-->
                  <p class="sale-price">$9.89<span>$13.42</span></p><a class="btn btn-primary btn-sm" href="#">Add to Cart</a>
                </div>
              </div>
            </div>
            <!-- Single Top Product Card-->
          </div>
        </div>
      </div>
      <!-- Pagination-->
      <div class="shop-pagination pt-3">
        <div class="container">
          <div class="card">
            <div class="card-body py-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-two justify-content-center">
                  <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
</svg></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#" aria-label="Next"><svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
</svg></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>


    </div>
</template>

<script type="text/javascript">
  import Headerdetail from '../Headerdetail'
  import axios from 'axios'
  export default {
    name: 'Detail',
    components: {
      Headerdetail
    },
    data(){
      return {
        list : []
      }
    },
    created(){
      this.getList()
    },
    methods: {
      getList(){
        const list_id = this.$route.params.id
        axios.get(`https://bookingaja.id/api/user?ba-key=bakey&id=${list_id}`)
        .then((response)=> {
          this.list = response.data.data;
        })
        .catch((err) => {
          alert(err)
        })
      }
    }
  }
</script>