<template> 
  <Headerlist/>
    <div class="page-content-wrapper" style="margin-top: 60px;">

      <div class="shop-pagination pb-3">
        <div class="container"> 
          <div class="card">
            <div class="card-body p-2">
              <div class="d-flex align-items-center justify-content-between"><small class="ms-1">Showing 6 of 31</small>
                <form action="#">
                  <select class="pe-4 form-select form-select-sm" id="defaultSelectSm" name="defaultSelectSm" aria-label="Default select example">
                    <option value="1" selected="">Sort by Newest</option>
                    <option value="2">Sort by Older</option>
                    <option value="3">Sort by Ratings</option>
                    <option value="4">Sort by Sales</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Products-->
      <div class="top-products-area product-list-wrap">
        <div class="container">
          <div class="row g-3">
            <!-- Single Top Product Card-->

            <div v-for="list in lists" :key="list.id" class="col-12">
              <div class="card single-product-card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="card-side-img">
                      <!-- Product Thumbnail--><a class="product-thumbnail d-block" href="#"><img width="100" src="assets/img/demo-img/bootstrap.png" alt="">
                        <!-- Badge--></a>
                    </div>
                    <div class="card-content px-4 py-2">
                      <!-- Product Title-->
                      <router-link :to="{name: 'Detail', params: {id:list.id}}">{{list.firstname}} {{list.lastname}}</router-link>
                      <!-- Product Price-->
                      <p><span>{{list.email}}</span></p><router-link :to="{name: 'Detail', params: {id:list.id}}" class="btn btn-danger btn-sm" href="#">Lihat</router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
            <!-- Single Top Product Card-->
          </div>
        </div>
      </div>
      <!-- Pagination-->
      <div class="shop-pagination pt-3">
        <div class="container">
          <div class="card">
            <div class="card-body py-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-two justify-content-center">
                  <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><svg width="16" height="16" viewbox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
</svg></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#" aria-label="Next"><svg width="16" height="16" viewbox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
</svg></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
</template> 

<script>
import Headerlist from '../Headerlist'
import axios from 'axios'

export default {
  name: 'List',
  components: {
    Headerlist
  },
  data(){
    return {
      lists : [],
      image : []
    }
  },
  created(){
    this.getAllList()
  },
  methods: {
    getAllList(){
      axios.get('https://bookingaja.id/api/user?ba-key=bakey')
      .then((response)=> {

        this.lists = response.data.data;
        this.image = response.data.data.image;

      })
      .catch((err) => {

        alert(err)

      })
    }
  }
}
</script>