<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Bookingaja.id - Platform pesan tempat online</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Favicon-->
    <link rel="icon" href="<%= BASE_URL %>assets/img/core-img/favicon.ico">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>assets/img/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>assets/img/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= BASE_URL %>assets/img/icons/icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>assets/img/icons/icon-180x180.png">
    <!-- CSS Libraries-->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/animate.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/magnific-popup.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/apexcharts.css">
    <!-- Core Stylesheet-->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/style.css">
    <script src="<%= BASE_URL %>assets/js/jquery.min.js"></script>
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader d-flex align-items-center justify-content-center" id="preloader">
      <div class="spinner-grow text-primary" role="status">
        <div class="sr-only">Loading...</div>
      </div>
    </div>
    <!-- Internet Connection Status-->
    <div class="internet-connection-status" id="internetStatus"></div>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- All JavaScript Files-->
    <script src="<%= BASE_URL %>assets/js/bootstrap.bundle.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/default/internet-status.js"></script>
    <script src="<%= BASE_URL %>assets/js/waypoints.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.easing.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/wow.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/owl.carousel.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.counterup.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.countdown.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/isotope.pkgd.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.magnific-popup.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/default/dark-mode-switch.js"></script>
    <script src="<%= BASE_URL %>assets/js/ion.rangeSlider.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.dataTables.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/default/active.js"></script>
    <script src="<%= BASE_URL %>assets/js/default/clipboard.js"></script>
    <!-- PWA-->
    <script src="<%= BASE_URL %>assets/js/pwa.js"></script>
  </body>
</html>
