<template> 
  <Header/>
    <div class="page-content-wrapper">
      <!-- Hero Slides-->
      <div class="owl-carousel-one owl-carousel owl-loaded owl-drag">
        <!-- Single Hero Slide-->
      <div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0.25s ease 0s; width: 3000px; transform: translate3d(-1125px, 0px, 0px);"><div class="owl-item cloned" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/33.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms" style="animation-delay: 100ms; opacity: 0;">Unique elements &amp; pages</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms" style="animation-delay: 400ms; opacity: 0;">Create your website in minutes, not weeks.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/1.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms" style="animation-delay: 100ms; opacity: 0;">Dark &amp; rtl ready</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms" style="animation-delay: 400ms; opacity: 0;">You can use Dark or RTL mode of your choice.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item active center" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="500ms" style="animation-delay: 100ms; opacity: 0;">Build with Bootstrap 5</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="500ms" style="animation-delay: 400ms; opacity: 0;">Build fast, responsive sites with Bootstrap.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/32.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1 animated fadeInUp" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms" style="animation-delay: 100ms; opacity: 1;">PWA ready</h4>
              <p class="text-white mb-4 animated fadeInUp" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms" style="animation-delay: 400ms; opacity: 1;">Make your website feel more like a native app.</p><a class="btn btn-creative btn-warning animated fadeInUp" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 1;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/33.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms" style="animation-delay: 100ms; opacity: 0;">Unique elements &amp; pages</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms" style="animation-delay: 400ms; opacity: 0;">Create your website in minutes, not weeks.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/1.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms" style="animation-delay: 100ms; opacity: 0;">Dark &amp; rtl ready</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms" style="animation-delay: 400ms; opacity: 0;">You can use Dark or RTL mode of your choice.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="500ms" style="animation-delay: 100ms; opacity: 0;">Build with Bootstrap 5</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="500ms" style="animation-delay: 400ms; opacity: 0;">Build fast, responsive sites with Bootstrap.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 375px;"><div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/32.jpg')">
          <div class="slide-content h-100 d-flex align-items-center text-center">
            <div class="container">
              <h4 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms" style="animation-delay: 100ms; opacity: 0;">PWA ready</h4>
              <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms" style="animation-delay: 400ms; opacity: 0;">Make your website feel more like a native app.</p><a class="btn btn-creative btn-warning" href="#" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms" style="animation-delay: 800ms; opacity: 0;">Buy Now</a>
            </div>
          </div>
        </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
      <!-- Welcome Toast-->
      <div class="toast toast-autohide custom-toast-1 toast-danger home-page-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000" data-bs-autohide="true">
        <div class="toast-body">
          <svg class="bi bi-bookmark-check text-white" width="30" height="30" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
            <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
          </svg>
          <div class="toast-text ms-3 me-2">
            <p class="mb-1 text-white">Welcome to Affan template!</p><small class="d-block">Click the "Add to Home Screen" button &amp; enjoy it like an app.</small>
          </div>
          <button class="btn btn-close btn-close-white position-relative p-1 ms-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      <div class="py-4">
        <div class="container direction-rtl">

            <div class="card bg-secondary mb-3 shadow-sm bg-gradient direction-rtl">
              <div class="card-body">
                <div class="row text-center">
                  <div class="col-6">
                    <p class="text-white mb-4">Bookingaja Pay</p>
                    <h2 class="text-white">Rp. 10,000</h2>
                  </div>
                  <div class="col-6">
                    <p class="text-white mb-4"><img src="assets/img/demo-img/bootstrap.png"></p>
                  </div>
                </div>
              </div>
            </div>

          <div class="row g-3">
            <div class="col-3">
            <router-link to="/list">
              <div class="feature-card text-center">
                <div class="card shadow mx-auto"><img src="assets/img/demo-img/bootstrap.png" alt=""></div>
                <p class="mb-0">Tempat makan</p>
              </div>
              </router-link>
            </div>
            <div class="col-3">
              <div class="feature-card mx-auto text-center">
                <div class="card shadow mx-auto"><img src="assets/img/demo-img/pwa.png" alt=""></div>
                <p class="mb-0">Sport</p>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-card mx-auto text-center">
                <div class="card shadow mx-auto"><img src="assets/img/demo-img/sass.png" alt=""></div>
                <p class="mb-0">Kesehatan </p>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-card mx-auto text-center">
                <div class="card shadow mx-auto"><img src="assets/img/demo-img/pug.png" alt=""></div>
                <p class="mb-0">Pariwisata</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card bg-danger mb-3 shadow-sm bg-gradient direction-rtl">
              <div class="card-body">
                <h2 class="text-white">Reusable elements</h2>
                <p class="text-white mb-4">More than 220+ reusable modern design elements. Just copy the code and paste it on your desired page.</p><a class="btn btn-warning" href="elements.html">All elements</a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card bg-primary mb-3 shadow-sm bg-gradient direction-rtl">
              <div class="card-body">
                <h2 class="text-white">Ready pages</h2>
                <p class="text-white mb-4">Already designed more than 35+ pages for your needs. Such as - Authentication, Chats, eCommerce, Blog &amp; Miscellaneous pages.</p><a class="btn btn-info" href="pages.html">All pages</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2>Customer Review</h2>
            <div class="testimonial-slide owl-carousel testimonial-style3">
              <!-- Single Testimonial Slide-->
              <div class="single-testimonial-slide">
                <div class="text-content"><span class="d-inline-block badge bg-warning mb-2"><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill"></i></span>
                  <h6 class="mb-2">The code looks clean, and the designs are excellent. I recommend.</h6><span class="d-block">Mrrickez, Themeforest</span>
                </div>
              </div>
              <!-- Single Testimonial Slide-->
              <div class="single-testimonial-slide">
                <div class="text-content"><span class="d-inline-block badge bg-warning mb-2"><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill"></i></span>
                  <h6 class="mb-2">All complete, <br> great craft.</h6><span class="d-block">Mazatlumm, Themeforest</span>
                </div>
              </div>
              <!-- Single Testimonial Slide-->
              <div class="single-testimonial-slide">
                <div class="text-content"><span class="d-inline-block badge bg-warning mb-2"><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill"></i></span>
                  <h6 class="mb-2">Awesome template! <br> Excellent support!</h6><span class="d-block">Vguntars, Themeforest</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-3"></div>
    </div>
</template> 

<script>

import Header from '../Header'

export default {
  name: 'Home',
  components: {
    Header
  }
}
</script>